/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #3b9c3b;
  --error: #e7195a;
  --overdue: #fd4e4e;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.task-details {
  background: #fff;
  border-radius: 8px;
  margin: 5px auto;
  padding-top: 5px;
  padding-bottom: 3px;
  padding-left: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.task-details h4 {
  margin: 0 0 0px 24px;
  font-size: 1.2em;
  color: #555;
}
.task-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.task-details span {
  position: absolute;
  cursor: pointer;
  background: #f1f1f100;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}
.task-details span.delete {
  top: 0px;
  right: 5px;
}
.task-details .edit {
  right: 5px;
  bottom: 5px;
}
.task-details span.checkbox {
  top: 0px;
  left: 5px;
}
.task-details span.tick {
  top: 0px;
  left: 0px;
}
.task-details .hide {
  visibility: hidden;
}
.task-details span.checkbox:hover > .hide {
  visibility: visible;
}

/* new task form */
.task-detail-box {
  background: #dfdfdf;
  border-radius: 4px;
  margin: 20px auto;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

label, input {
  display: block;
  font-family: "Poppins";
}
input {
  background: #eeeeee00;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

.task-detail-form {
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px solid #ddd;
  border-radius: 4px;
  margin: 0px auto;
  position: relative;
  outline: none;
}
.task-detail-deadline {
  padding: 10px;
}

/* task-list */
.hide {
  visibility: hidden;
}
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}
ul li {
  cursor: pointer;
  position: relative;
  background: #eee;
  
  transition-property: height;
  transition-duration: 200ms;
  overflow: hidden;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul li:hover {
  background: #ddd;
}
ul li:hover > .hide {
  visibility: visible;
}
ul li.checked {
  background: #888;
  color: #fff;
}
ul li h4.checked {
  text-decoration: line-through;
}
ul .overdue {
  color: var(--overdue);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}
/* auth forms */
form.signup, form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;
}

/* Styles for the popup form */
.popup-form {
  display: flex;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  position: relative;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
}

.open-form-btn {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

.open-form-btn:hover {
  background-color: #45a049; /* Darker green on hover */
}